.searchBox {
  margin-bottom: 50px;
}

.searchBox input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
  background-color: #e0e0e0;
}

.searchBox input:focus {
  outline: none;
}

.searchBox button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #6552f4;
  color: #e0e0e0;
  cursor: pointer;
}
